@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}


i{
    font-size: 10em;
    position: absolute;
    top: 0;
    left: 0;
}


.icon-rain {
    animation: rain 5s linear infinite;
}

@keyframes rain {
       
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    
    25% {
        transform: translateX(0);
        opacity: 1;
    }
    
    50% {
        transform: translateX(500px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(500px);
        opacity: 0;
    }
    
}

.icon-cloud {
    animation: cloud 5s linear infinite;
}

@keyframes cloud {
       
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    
    25% {
        transform: translateX(0);
        opacity: 1;
    }
    
    45% {
        transform: translateX(0);
        opacity: 1;
    }
    
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    
    75% {
        transform: translateX(500px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(500px);
        opacity: 0;
    }
    
}

.icon-sun {
    animation: sun 5s linear infinite;
}

@keyframes sun {
       
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }

    
    50% {
        opacity: 0;
    }
    
    85% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
    
}
